.background-image {
    background-image: linear-gradient(rgba(0, 0, 0 , 0.5), rgba(0, 0, 0, 0.2)), url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 100vh;
    background-position-x: center;
    opacity: 95%;
}

/* ---------foto destacada-index-------- */

.info-foto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 4vw;
    margin-bottom: 4vw;
    .texto-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: justify;
        margin-right: 2vw;
    }

    @media screen and (max-width: 768px) {
        .texto-info {
            padding: 2%;
        }
    }
    @media screen and (max-width: 333px) {
        .texto-info {
            padding: 2%;
        }
    }
}

@media screen and (max-width: 1024px) {
    .info-foto {
        margin-left: 7vw;
        margin-right: 7vw;
    }
}

@media screen and (max-width: 768px) {
    .info-foto { 
        flex-direction: column;
        padding: 20px;
        margin: 20px;
    }
}

@media screen and (max-width: 333px) {
    .info-foto { 
        flex-direction: column;
        padding: 20px;
        margin: 20px;
    }
}

@media screen and (max-width: 333px) {
    .texto-info {
        p {
            font-size: 5vw;
        }
    }
}


/* ----------------BANNER--------------- */

.banner-1 {
    position: relative;
    height: 25vh;
    width: 100%;
    background-image:linear-gradient(rgba(0, 0, 0 , 0.3), rgba(0, 0, 0, 0.1)), url(../images/banner1.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-attachment: local;
    margin-top: 30px;
    margin-bottom: 5px;
}

.banner-2 {
    position: relative;
    height: 25vh;
    width: 100%;
    background-image:linear-gradient(rgba(0, 0, 0 , 0.3), rgba(0, 0, 0, 0.1)), url(../images/banner2.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-attachment: local;
    margin-top: 30px;
    margin-bottom: 5px;
    
}

/* ----------tienda y blog-index-------- */

.tienda-index {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 4vh;
    margin-left: 20%;
    margin-right: 20%;
    gap: 2vw;
}

@media screen and (max-width: 1024px){
    .tienda-index {
        margin-left: 7vw;
        margin-right: 7vw;
    }
}

@media screen and (max-width: 768px) {
    .tienda-index {
        margin-left: 6vw;
        margin-right: 6vw;
    }
}

@media screen and (max-width: 510px) {
    .caja-producto {
        max-width: fit-content;
    }
}

@media screen and (max-width: 510px) {
    .imagen-producto {
        max-height: fit-content;
    }
}


.boton {
    background-color: rgb(201, 69, 29);
    border-color: rgb(201, 69, 29);
    &:hover {
        background-color: rgb(139, 51, 40);
        border-color: rgb(201, 69, 29);

    }
}


.seccion-entradas {
    margin-top: 4vh;
    margin-left: 20%;
    margin-right: 20%;
    .titulo-entradas {
        margin-top: 3vw;
        margin-bottom: 3vw;
    }
}

@media screen and (max-width: 1024px) {
    .seccion-entradas {
        margin-left: 7vw;
        margin-right: 7vw;
    }
}
@media screen and (max-width: 768px) {
    .seccion-entradas {
        margin-left: 6vw;
        margin-right: 6vw;
    }
}


.index-blog-imagen {
    margin-top: 2vh;
    margin-bottom: 2vw;
}

.ver-blog {
    h4 {
    text-align: end;
    .verblog-otienda {
        text-decoration: none;
    }
    }
}

@media screen and (max-width: 768px) {
    .verblog-otienda {
        font-size: 2vw;
    }
}
@media screen and (max-width: 333px) {
    .verblog-otienda {
        font-size: 5.7vw;
    }
}

/* ------------Footer-Index------------- */

.background-footer {
    background-image: url(../images/background.jpg);
    background-size: cover;
    height: 120px;
    opacity: 90%;
    margin-top: 1rem;
    .text-footer{
        color: azure;
        margin-top: 6px;
        text-align: center;
    }
}

