.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    letter-spacing: 3px;
    .flex-logo {
        display: flex;
        justify-content: space-between;
        grid-area: logo;
        h1 {
            color: rgb(201, 69, 29);
            font-size: 28px;
            margin-top: 38px;
            opacity: 80%;
        }
    }
    @media screen and (max-width: 333px) {
        .flex-logo > {
            h1 {
                font-size: 6vw;
                margin-top: 45px;
            }
        
        }
    }
}

.menu {
    display: flex;
    gap: 25px;
    grid-area: menu;
    padding-left: 0rem;
    li {
        list-style: none;
        a {
            font-family: 'Josefin Sans', sans-serif;
            text-decoration: none;
            text-align: center;
            gap: 50px;
            color: rgb(201, 69, 29);
            &:hover {
                color:rgb(161, 65, 26);
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .menu {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }
}

@media screen and (max-width: 510px) {
    .menu {
        display: none;
    }
}

@media screen and (max-width: 333px) {
    .menu {
        display: none;
    }
}

.logo {
    float:left;
    margin-left: 20px;
    width: 100px;
    margin-top: 16px;
    transition: transform 0.2s;
    &:hover {
        transform: rotate(360deg);
    }
}

li {
    list-style: none;
}

.botones-costado {
    opacity: 80%;
    margin-top: 26px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    grid-area: botones;
}
@media screen and (max-width: 1024px) {
    .botones-costado {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .botones-costado {
        display: none;
    }
}

@media screen and (max-width: 510px) {
    .botones-costado {
        display: none;
    }
}

@media screen and (max-width: 333px) {
    .botones-costado {
        display: none;
    }
}

.botones-costado-2 {
    display: none;
}
@media screen and (max-width: 1024px){
    .botones-costado-2 {
        opacity: 95%;
        margin-top: 30px;
        margin-right: 40px;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        grid-area: botones;
    }
}

@media screen and (max-width: 768px) {
    .botones-costado-2 {
        opacity: 95%;
    }
}

@media screen and (max-width: 510px) {
    .botones-costado-2 {
        opacity: 95%;
        margin-top: 22px;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        grid-area: botones;
    }
}

@media screen and (max-width: 510px) {
    .botones-costado-2 >{
        a {
            display: none;
        }
    }
}

@media screen and (max-width: 333px) {
    .botones-costado-2 {
        opacity: 95%;
        margin-top: 22px;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        grid-area: botones;
    }
}

@media screen and (max-width: 333px) {
    .botones-costado-2 >{
        a {
            display: none;
        }
    }
}



.block-menu {
    position: relative;
    ul {
        margin-top: 20px;
        position: absolute;
        text-align: right;
        right: 5%;
    }
    a {
        text-decoration: none;
        color: black;
    }
    li {
        background-color: rgb(201, 69, 29);
        width: 26vw;
        padding: 15px 30px;
    }
    @media screen and (max-width: 768px) {
        li {
            width: 48vw;
        }
    }
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

details  {
    display: none;
}

details > {
    summary {
        list-style: none;
        ion-icon {
            color: rgb(201, 69, 29);
            font-size: 36px;
            cursor: pointer;
            margin-top: 0px;
            margin-right: 20px;
        }
    }
}

details > summary::marker {
    display: none;
}




@media screen and (max-width: 1024px){
    details {
        display: block;
    }
}

@media screen and (max-width: 768px){
    details {
        display: block;
    }
}

@media screen and (max-width: 510px) {
    details {
        display: block;
    }
}

@media screen and (max-width: 333px) {
    details {
        display: block;
    }
}

.texto-menu {
    text-align: center;
}
